#categories-section, #items {
    width: 80%;
    margin: auto;
}

#items {
    display: block;
    height: 100%;
    margin-top: 1rem;
}

#menu #menu-items ul {
    display: grid;
    height: 100%;
    max-height: 100%;
    grid-template-columns: repeat(4, 1fr);
}

#menu-items ul {
    max-height: 100%;
}

#see-more {
    display: none;
}

@media screen and (max-width: 800px) {
    #menu #menu-items ul {
        grid-template-columns: 1fr;
    }
}